ion-card {
    // background-color: #fff;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    padding-top: 20px;
}

ion-icon {
    font-size: x-large;
    padding: 10px;
    // color: var(--ion-color-secondary);
}
