<ion-content>
  <div class="label">
      <ion-label>Welcome to WhatsApp</ion-label>
  </div>

  <div class="logo">
      <img src="assets/logo.png" alt="">
  </div>

  <div class="content">
      <p>
          Read our <a href="">Privacy Policy.</a> Tap "Agree to Continue" to accept
          the <a href="">Terms of Service.</a>
      </p>

  </div>
  <div class="button">

      <ion-button expand="block" (click)="proceed()">
          AGREE AND CONTINUE
      </ion-button>

  </div>

</ion-content>