.label {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    margin: 15px;
    color: #4d9061;
    // font-family: sans-serif;
}
.p {
    text-align: center;
    font-size: medium;
    padding-top: 15px;
}
hr {
    background: #4d9061;
    width: 180px;
}
.button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 15px;
    bottom: 0;
}

div.profileimage {
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    img {
        width: 35%;
        height: 100%;
        border-radius: 100%;
    }
}
