div.profileimage {
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    img {
        height: 50px;
        width: 58px;
        border-radius: 100%;
    }
}