div.profileimage {
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    img {
        width: 50%;
        height: 100%;
        border-radius: 100%;
    }
}
