<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="profileimage">
    <img src="assets/images/security.png" alt="">
  </div>

  <div class="ion-padding">
    <p>
      Your messages and call are securited with-end-to-end encryption which means
      WhatsApp and third parties can't read or listen to them.
    </p>

    <ion-item lines="none">
      <ion-label>Show security notification</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <p>
      Turn on this setting to receive notifications when a contact's security code has changes,
      Your messages and call are encrpted regardless of this setting.
    </p>
  </div>

</ion-content>