<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Request account info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profileimage">
    <img src="assets/images/request.png" alt="">
  </div>

  <div class="ion-padding">
    <h6>
      Create a report of your WhataApp clone account information nad setting, which you can fa-universal-access
      or port to another app. this report does not include your messages. <span style="color: blue;">Learn more</span>
    </h6>
  </div>
  <ion-item>
    <ion-icon name="paper" slot="start"></ion-icon>
    <ion-label>Request report</ion-label>
  </ion-item>
  <div class="ion-padding">
    <h6>
      Your report will be ready in about 3 days. You'll have a few week to download your report after it's available.
    </h6>
  </div>
  <div class="ion-padding">
    <h6>
      Your request will be canceled if you make changes to your account such as changing your number or deleting your
      account.
    </h6>
  </div>

</ion-content>